<div class="sidebar-container">

  <div class="sidebar-logo-section">
    <img src="./assets/all-pokemon-pictures-logo.jpg" alt="Logo" class="sidebar-logo" />
  </div>

  <mat-nav-list class="sidebar-menu">

    <a mat-list-item routerLink="/pokedex" routerLinkActive="active-link">
      <mat-icon matListItemIcon>catching_pokemon</mat-icon>
      <span matListItemTitle>Pokédex</span>
    </a>

    <a mat-list-item routerLink="/trainer" routerLinkActive="active-link">
      <mat-icon matListItemIcon>person</mat-icon>
      <span matListItemTitle>Trainer</span>
    </a>

    <a mat-list-item routerLink="/battles-log" routerLinkActive="active-link">
      <mat-icon matListItemIcon>history</mat-icon>
      <span matListItemTitle>Battle Log</span>
    </a>

    <a mat-list-item routerLink="/battles" routerLinkActive="active-link">
      <mat-icon matListItemIcon>sports_mma</mat-icon>
      <span matListItemTitle>Battle</span>
    </a>

    <a mat-list-item routerLink="/team-builder" routerLinkActive="active-link">
      <mat-icon matListItemIcon>groups</mat-icon>
      <span matListItemTitle>Team Builder</span>
    </a>

    <a mat-list-item routerLink="/analytics" routerLinkActive="active-link">
      <mat-icon matListItemIcon>analytics</mat-icon>
      <span matListItemTitle>Analytics</span>
    </a>

  </mat-nav-list>
</div>