<div class="sidebar-container">

  <div class="sidebar-logo-section">
    <img src="./assets/all-pokemon-pictures-logo.jpg" alt="Logo" class="sidebar-logo" />
  </div>

  <mat-nav-list class="sidebar-menu">

    <a mat-list-item href="/pokedex">
      <mat-icon matListItemIcon>catching_pokemon</mat-icon>
      <span matListItemTitle>Pokédex</span>
    </a>

    <a mat-list-item href="/trainer">
      <mat-icon matListItemIcon>person</mat-icon>
      <span matListItemTitle>Trainer</span>
    </a>

    <a mat-list-item href="/battles-log">

      <mat-icon matListItemIcon>history</mat-icon>
      <span matListItemTitle>Battle Log</span>
    </a>

    <a mat-list-item href="/battles">
      <mat-icon matListItemIcon>sports_mma</mat-icon>
      <span matListItemTitle>Battle </span>
    </a>

    <a mat-list-item href="/team-builder">
      <mat-icon matListItemIcon>groups</mat-icon>
      <span matListItemTitle>Team Builder</span>
    </a>

    <a mat-list-item href="/analytics">
      <mat-icon matListItemIcon>analytics</mat-icon>
      <span matListItemTitle>Analytics</span>
    </a>

  </mat-nav-list>
</div>